node_modules/
dist/
.env
.env.*
!.env.example
channels.yml
!channels.yml.example
dictionary.yml
!dictionary.yml.example
speakers.yml
!speakers.yml.example
voice-members.log.yml
*.js
!jest.config.js
*.d.ts
*.js.map
